In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
teams=pd.read_csv("D:\\archive\\teams.csv")
teams

                          team1
0                 Pune Warriors
1         Kolkata Knight Riders
2              Rajasthan Royals
3          Kochi Tuskers Kerala
4                 Gujarat Lions
5           Chennai Super Kings
6       Rising Pune Supergiants
7              Delhi Daredevils
8               Deccan Chargers
9                Delhi Capitals
10               Mumbai Indians
11          Sunrisers Hyderabad
12       Rising Pune Supergiant
13  Royal Challengers Bangalore
14              Kings XI Punjab

In [10]:
teams["team1"].count()

15